<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
     <div class="col-md-6 col-sm-6 col-xs-12">
      <form method="post">

       <div class="form-group ">
        <label class="control-label " for="name">Nome do Tutor
           <span class="asteriskField">*</span>
        </label>
        <input class="form-control" id="name" name="name" type="text"/>
       </div>
      
       <div class="form-group ">
        <label class="control-label requiredField" for="email">Apelido do Tutor
           <span class="asteriskField">*</span>
        </label>
        <input class="form-control" id="latname" name="lastname" type="text"/>
       </div>
       
       <div class="form-group ">
        <label class="control-label " for="subject">Categoria</label>
        <select class="select form-control" id="select" name="select">
           <option value="First Choice">Gestor de Dados</option>
           <option value="Second Choice"> Programador</option>
           <option value="Third Choice"> DBA</option>
        </select>
       </div>
       <div class="form-group ">
        <label class="control-label " for="message">Descricao</label>
        <textarea class="form-control" cols="40" id="message" name="message" rows="10"></textarea>
       </div>

       <div class="form-group">
        <div>
           <button class="btn btn-primary " name="submit" type="submit">Gravar</button>
        </div>
       </div>

      </form>
     </div>
    </div>
 </div>
</div>