<div class="header-menu">
    <p>Cadastrar Tutor<p>
</div>

<form class="form-horizontal" name="createTutorForm" novalidate>
    
    <div class="navbar navbar-default">
        <div class="col-md-2">
            <input type="submit" class="btn btn-success navbar-btn" value="Cadastrar" ng-click="createTutor(createTutorForm)"/>
            <input type="button" class="btn btn-default navbar-btn" value="Limpar" ng-click = "cleanTutor()"/>
        </div>
    </div>
    
    <!-- Messages   -->
    <div class="alert alert-success" role="alert" ng-show="message">
        <strong>{{message}}</strong>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="hasErrors.length">
        <p ng-repeat="error in hasErrors"><strong>{{error.field}}</strong></p>
    </div>
    
    <hr/>
    
    <div class="form-group">
        <label for="tutorName" class="col-md-2 control-label">Nome:</label>
        <div class="col-md-3">
             <input id="tutorName" name="'Nome'" ng-model="tutor.name" type="text" class="form-control" autocomplete="off" required/>
        </div>

        <label for="tutorSurname" class="col-md-2 control-label">Apelido:</label>
        <div class="col-md-3">
             <input id="tutorSurname" name="'Apelido'" ng-model="tutor.surname" type="text" class="form-control" autocomplete="off" required/>
        </div>
    </div>

    <div class="form-group">
        <label for="category" class="col-md-2 control-label">Categoria:</label>
        <div class="col-md-3">
            <select id="category" name="'Categoria'" ng-model="tutor.category" type="text" class="form-control" required>
                <option value="DATA_MANAGER" label="Gestor de Dados"/>
            </select>
        </div>
    </div>

    <hr/>
</form>