<div class="form-group">
    <label for="sectorName" class="col-md-2 control-label">{{ 'NAME' | translate }}:</label>
    <div class="col-md-3">
         <input id="sectorName" name="'Nome'" ng-model="sector.name" type="text" class="form-control" autocomplete="off" required/>
    </div>
    
    <label for="sectorDescription" class="col-md-2 control-label">{{ 'DESCRIPTION' | translate }}:</label>
    <div class="col-md-3">
         <textarea rows="4" cols="50" id="sectorDescription" name="'Descricao'" ng-model="sector.description" type="text" class="form-control" autocomplete="off" required/>
    </div>
</div>
</div>