<div class="header-menu">
    <p>Criterios de Pesquisa<p>
</div>

<form class="form-horizontal" name="listMentoringProcessController" novalidate>

	<div class="navbar navbar-default">
	    <div class="col-md-6">
            <input type="submit" class="btn btn-success navbar-btn" value="Pesquisar" ng-click="getTutoredsBySelectedFilter()"/>
            <input type="button" class="btn btn-default navbar-btn" value="Limpar" ng-click = "cleanMentorship()"/>
        </div>
	</div>

	<messages error-message="{{errorMessage}}" ></messages>

	<hr>

	<div class="form-group">
		<div class="col-md-4">
		    <input id="mentoringTutored" placeholder="Tutorando" name="'Tutorando'" ng-model="mentorshipFilter.tutored" type="text" class="form-control" required/>
		</div>

		<div class="col-md-4">
		    <input id="mentoringTutor" placeholder="Tutor" name="'Tutor'" ng-model="mentorshipFilter.tutor" type="text" class="form-control"/>
		</div>
		<div class="col-md-4">
		    <input id="mentorinForm" placeholder="Formulario" name="'Formulario'" ng-model="mentorshipFilter.form" type="text" class="form-control"/>
		</div>
	</div>

	<hr>

</form>

<table st-table="mentorshipsDisplayed" class="table table-bordered" st-safe-src="mentorships" >
	<thead>
		<tr>
			<th class="col-md-3">Codigo</th>
			<th class="col-md-3">Tutorando</th>
			<th class="col-md-3">Tutor</th>
			<th class="col-md-4">Formulario</th>
		</tr>	
	</thead>

	<tbody>`
		<tr data-toggle="modal" data-target="#myModal" ng-repeat="mentorship in mentorshipsDisplayed">
			<td>{{mentorship.code}}</td>
			<td>{{mentorship.tutored.name}}</td>
			<td>{{mentorship.tutor.name}}</td>
			<td>{{mentorship.form.name}}</td>
		</tr>
	</tbody>

	<tfoot style="border:none;">
        <tr>
            <td colspan="4" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
            </td>
        </tr>
	</tfoot>

</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editar Tutored</h4>
      </div>

      <form class="form-horizontal" name="editTutoredForm" novalidate>
	      <div class="modal-body form-horizontal">
	      	<messages message="{{message}}" error-message="{{errorMessage}}" has-errors="hasErrors"></messages>
	       	<div ng-include="'tutored/views/tutored-template.html'"></div>
	      </div>
	      
	      <div class="modal-footer">
	        <input type="button" class="btn btn-default" data-dismiss="modal" value="Fechar"/>
	        <input type="submit" class="btn btn-primary" ng-click="editTutored()" value="Actualizar" ng-disabled="isDisabled"/>
	      </div>
      </form>

    </div>
  </div>
</div>