<div class="form-group">
    <label for="tutoredName" class="col-md-2 control-label">{{ 'NAME' | translate }}:</label>
    <div class="col-md-3">
         <input id="tutoredName" name="'{{ 'NAME' | translate }}'" ng-model="tutored.name" type="text" class="form-control" autocomplete="off" required/>
    </div>

    <label for="tutoredSurname" class="col-md-2 control-label">{{ 'SURNAME' | translate }}:</label>
    <div class="col-md-3">
         <input id="tutoredSurname" name="'{{ 'SURNAME' | translate }}'" ng-model="tutored.surname" type="text" class="form-control" autocomplete="off" required/>
    </div>
</div>
<div class="form-group">
    <label for="tutoredSurname" class="col-md-2 control-label">{{ 'PHONE_NUMBER' | translate }}:</label>
    <div class="col-md-3">
         <input id="tutoredPhoneNumber" name="'{{ 'PHONE_NUMBER' | translate }}'" ng-model="tutored.phoneNumber" type="text" class="form-control" autocomplete="off" required/>
    </div>
</div>